/* font types */
#fonts() {
  .display {
    font-family: "ZCOOL QingKe HuangYou", cursive;
  }
  .content {
    font-family: "Roboto", sans-serif;
  }
}

/* Theme colors. */
#theme() {
  .colors(footer) {
    background-color: #343a40;
    color: #fff;
  }

  .colors(body) {
    background-color: #6b7886 !important;
  }

  .colors(content) {
    background-color: #fff;
    color: #000;
  }
}

/* remove those pesky margins and make page full screen */
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
}

.header {
  border-bottom: rgba(255, 255, 255, 0.5) 1px solid !important;
}

/* container that all content should go into. */
.container {
  min-width: 50%;
  width: 700px;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
}

hr {
  margin: 0;
}

.content {
  #theme.colors(content);
  padding-top: 1px;
  margin-top: 20px;
}

body {
  h1,
  h2,
  h3 {
    #fonts > .display();
  }

  #fonts > .content();

  #theme.colors(body);

  p {
    img {
      padding-top: 5px;
      display: block;
      margin: auto;
    }
  }
}

h2 {
  font-style: italic;
  font-weight: 100;
  font-size: 25px !important;
  line-height: 35px !important;
}

.center {
  text-align: center;
}

.references {
  h3 {
    font-weight: 100;
    font-size: 20px !important;
  }

  li > a {
    font-style: italic;
  }
}

.footer {
  padding: 10px 0px;
  border-top: rgba(255, 255, 255, 0.5) 1px solid;
  #theme.colors(footer);
}

table {
  align-content: center;
  margin: 0 auto;
  tr {
    padding: 5px;
    td + td {
      border-left: rgb(224, 224, 224) 1px solid;
    }
  }

  th,
  td {
    padding: 10px 10px;
    min-width: 100px;
  }

  tr,
  th,
  td {
    background-color: #fff;
    text-align: center;
  }

  th {
    border: none;
    border-bottom: 1px solid black;
  }

  td {
    border: none;
  }
}
